<div>
  <p class="font-medium py-4 text-white">Products</p>
  <div class="grid grid-cols-4 gap-4">

    <a routerLink="Create"
       class="rounded text-left py-4 px-6 bg-white hover:bg-blue-500 hover:text-white transition ease-in-out duration-200 hover:shadow hover:-translate-y-[4px]">
      <p class="font-medium">Create</p>
      <p class="text-sm mt-1">Card Title</p>
    </a>

    <a routerLink="Manage"
       class="rounded text-left py-4 px-6 bg-white hover:bg-blue-500 hover:text-white transition ease-in-out duration-200 hover:shadow hover:-translate-y-[4px]">
      <p class="font-medium">List</p>
      <p class="text-sm mt-1">Card Title</p>
    </a>

  </div>
</div>
