<div content>
  <p class="font-medium py-4 text-white">Product</p>
  <div class="grid grid-cols-4 gap-4">

    <a routerLink="Product"
       class="rounded text-left py-4 px-6 bg-white hover:bg-blue-500 hover:text-white transition ease-in-out duration-200 hover:shadow hover:-translate-y-[4px]">
      <p class="font-medium">Product Manager</p>
      <p class="text-sm mt-1">Lorem Ipsum</p>
    </a>

    <div class="rounded py-4 px-6 bg-white">
      <p class="font-medium">Placeholder</p>
    </div>

  </div>
</div>
