<div class="pb-64">
  <router-outlet></router-outlet>
</div>
<div class="absolute bottom-8 right-8" *ngIf="loading_service.snackbar.visible | async" [@fadeInOut]>
  <div class="rounded-md bg-white flex flex-row p-2 shadow-xl">
    <div class="rounded w-12 h-12 bg-gray-300"></div>
    <div class="flex flex-col">
      <div class="flex flex-row w-64">
        <span class="flex-auto text-sm font-medium px-4">{{loading_service.snackbar.title}}</span>
        <mat-icon class="text-sm text-right translate-x-1 -translate-y-1.5" (click)="loading_service.snackbar.close()">close</mat-icon>
      </div>
      <span class="text-xs px-4 -translate-y-1">{{loading_service.snackbar.message}}</span>
    </div>
  </div>
</div>
