html, body { height: 100%; }

@tailwind base;
@tailwind components;
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@tailwind utilities;


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
